body {
  background-color: #dee4f1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

form {
  margin: 20px;
  width: 750px;
  background-color: #4978df;
  border: 3px solid #052059;
  border-radius: 5px;
}

.inputs {
  display: flex;
}

.block {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

input {
  margin-left: 5px;
}

label {
  margin: 5px;
}

.new-cars {
  display: none;
}

.old-cars {
  display: none;
}

.btn {
  margin: 15px;
}

table {
  border-collapse: collapse;
  text-align: center;
}

table th,
table td {
  padding: 5px 10px;
  border: 1px solid #4a4b99;
}

label {
  display: flex;
  align-items: center;
}

span {
  width: 150px;
  text-align: right;
}

select {
  margin-left: 5px;
  width: 177px;
  display: inline-block;
}